# Paths to microservices repositories
WATCHER_PATH=../accruals-watcher
BOT_PATH=../accruals-bot

# Infrastructure credentials
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DB=kvartplata_watcher

# Application Configuration
SUPER_ADMIN_TELEGRAM_ID=your_telegram_id_here

