# Telegram Configuration
TELEGRAM_BOT_TOKEN=your_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
SUPER_ADMIN_TELEGRAM_ID=your_telegram_id_here

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
QUEUE_NAME=accruals_notifications
ACCOUNTANT_QUEUE=accountant_queue
WATCHER_QUEUE=watcher_queue

# Database Configuration
TELEGRAM_BOT_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/telegram_bot?schema=public
